doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My test
      li 
        faf kjafsaknjfnsaasfasfasfasdada
        sda sdasajabsaksjnfasasdasdasda
    input(type='text').class-name#anyId
    -var condition
      p is true
    -var anyArray=[1,2,3]
    each value in anyArray
      p= value
    block content
